<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> 회원 정보 </title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossOrigin="anonymous"></script>
    <script> <!-- $(document).ready(function () {}); -->
    $(function () {

        $('#updateForm').on('submit', function () {

            if (!confirm('회원 정보를 수정하시겠습니까?')) {
                return false;
            }
        });
    });
    </script>
</head>
<body>

<h1>회원 정보</h1>
<div th:replace="/fragments/layout.html :: fragment-body-menu"></div>
<div th:replace="/fragments/layout.html :: fragment-member-info-menu"></div>

<div>
    <form id="updateForm" method="post">
        <table>
            <tbody>
            <tr>
                <th>ID(이메일)</th>
                <td>
                    <p th:text="${detail.userId}">ID</p>
                </td>
            </tr>
            <tr>
                <th>이름</th>
                <td>
                    <p th:text="${detail.userName}">이름</p>
                </td>
            </tr>
            <tr>
                <th>전화번호</th>
                <td>
                    <input name="phone" type="text" th:value="${detail.phone}"/>
                </td>
            </tr>
            <tr>
                <th>가입일자</th>
                <td>
                    <p th:text="${detail.regDtText}">가입일</p>
                </td>
            </tr>
            <tr>
                <th>회원정보 수정일</th>
                <td>
                    <p th:text="${detail.udtDtText}">회원정보 수정일</p>
                </td>
            </tr>
            </tbody>
        </table>

        <div>
            <button type="submit">수정</button>
        </div>
    </form>
</div>

</body>
</html>