<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:div="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.bxslider').bxSlider({ // 클래스명 주의!
                auto: true, // 자동으로 애니메이션 시작
                speed: 500,  // 애니메이션 속도
                pause: 5000,  // 애니메이션 유지 시간 (1000은 1초)
                mode: 'horizontal', // 슬라이드 모드 ('fade', 'horizontal', 'vertical' 이 있음)
                autoControls: true, // 시작 및 중지버튼 보여짐
                pager: true, // 페이지 표시 보여짐
                captions: true, // 이미지 위에 텍스트를 넣을 수 있음
                touchEnabled : (navigator.maxTouchPoints > 0)
            });
        });
    </script>
</head>
<body>
<h1> 메인 페이지 </h1>

<div th:replace="/fragments/layout.html :: fragment-body-menu">
</div>
<div>
    <div class="bxslider">
        <div th:each="x : ${listIndex}">
            <div th:if="${x.targetOpen} == 'NEW'">
                <a th:href="${x.urlAddr}" target="_blank"><img th:src="${x.urlFilename}" th:alt="${x.bannerName}"></a>
            </div>
            <div th:if="${x.targetOpen} == 'CURRENT'">
                <a th:href="${x.urlAddr}"><img th:src="${x.urlFilename}" th:alt="${x.bannerName}"></a>
            </div>
        </div>
    </div>
</div>

</body>
</html>